<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src = "/jquery/i18n/datepicker-ru.js"></script>
    <script>
    jQuery(document).ready(function(){
        $.datepicker.setDefaults( $.datepicker.regional[ "ru" ] );
        $( "#datepicker" ).datepicker({
            "dateFormat": "dd.mm.yy"
        });
    } );
    </script>
    <title>История</title>
    <link rel="stylesheet" th:href="@{/styles/common.css}"/>
    <link rel="stylesheet" th:href="@{/styles/history.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Converter</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/main">Конвертер</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript: document.logoutForm.submit()" role="menuitem">
                    <span class="glyphicon glyphicon-log-out"></span> Выйти</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
    <input hidden type="submit" value="Sign Out"/>
</form>
<h2 class="center">История</h2>
<div class="filter">
    <form method="GET" th:action="@{/history}" th:object="${historyFilter}">
        <div class="box-container">
            <div class="box">
                <div class="inputParent">
                    <input class="inputChild" id="datepicker" type="text" th:field="*{date}" required/>
                </div>
            </div>
            <div class="box">
                <div class="selectParent">
                    <select class="selectChild" id="source_currency" name="source" th:field="*{sourceCode}">
                        <option th:each="option : ${shortOptions}" th:value="${option.key}" th:text="${option.value}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="box">
                <div class="selectParent">
                    <select class="selectChild" id="target_currency" name="target" th:field="*{targetCode}">
                        <option th:each="option : ${shortOptions}" th:value="${option.key}" th:text="${option.value}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>
<table>
    <tr>
        <th>Исходная валюта</th>
        <th>Целевая валюта</th>
        <th>Исходная сумма</th>
        <th>Получаемая сумма</th>
        <th>Дата</th>
    </tr>
    <th:block th:each="item : ${history}">
        <tr>
            <td th:text="${item.sourceCode} + ' (' + ${item.sourceName} + ')'"></td>
            <td th:text="${item.sourceAmount}"></td>
            <td th:text="${item.targetCode} + ' (' + ${item.targetName} + ')'"></td>
            <td th:text="${item.targetAmount}"></td>
            <td th:text="${item.date}"></td>
        </tr>
    </th:block>
</table>
<div class="block-center">
    <button type="submit" onclick="document.forms[1].submit();">Поиск</button>
</div>
</body>
</html>