.box-container {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 600px;
  box-sizing: border-box;
}

.box {
  float: left;
  width: 250px;
  padding: 20px;
}

input, select {
  width: 200px;
  height: 32px;
  padding: 4px;
  margin: 12px;
  display: inline-block;
  border: 2px solid grey;
  box-sizing: border-box;
}

button[type=submit] {
  width: 198px;
  height: 38px;
}
