.box-container {
  margin-left: 0px;
  margin-right: 0px;
  min-width: 300px;
  max-width: 620px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.box {
  flex-grow: 1;
  padding: 8px;
}

.inputParent{
    width: 160px;
    height: 32px;
    overflow: hidden;
    background-color: white;
    border: 2px solid grey;
    display: inline-block;
}

.inputChild{
    width: 158px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent url("../images/date.png") no-repeat right center;
}

.selectParent{
    width: 200px;
    height: 32px;
    overflow: hidden;
    background-color: white;
    border: 2px solid grey;
    display: inline-block;
}

.selectChild{
    width: 198px;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background: transparent url("../images/select.png") no-repeat right center;
}

button[type=submit] {
  width: 198px;
  height: 38px;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;

}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid grey;
  padding: 8px;
  text-align: left;
  font-weight: 600;
  font-size: 17px;
}

th {
  background-color: #b9b9b9;
  padding-top: 13px;
  padding-bottom: 13px;
}

td {
  background-color: #e8e8e8;
  padding-top: 13px;
  padding-bottom: 13px;
}
