input, select {
  width: 160px;
  height: 30px;
  padding: 4px;
  margin: 12px;
  display: inline-block;
  border: 2px solid grey;
  box-sizing: border-box;
}

select {
  width: 200px;
  height: 32px;
  padding: 2px 7px;
  border:0px;
  outline:0px;
  background: url(../images/select.PNG) 0 0 no-repeat;
  -moz-appearance:none;
  -webkit-appearance: none;
  appearance:none;
}

button[type=submit] {
  width: 198px;
  height: 38px;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid grey;
  padding: 8px;
  text-align: left;
  font-weight: 600;
  font-size: 17px;
}

th {
  background-color: #b9b9b9;
  padding-top: 13px;
  padding-bottom: 13px;
}

td {
  background-color: #e8e8e8;
  padding-top: 13px;
  padding-bottom: 13px;
}
