input, select {
  width: 160px;
  height: 30px;
  padding: 4px;
  margin: 12px;
  display: inline-block;
  border: 2px solid grey;
  box-sizing: border-box;
}

button[type=submit] {
  width: 198px;
  height: 38px;
}

.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 2px solid grey;
  padding: 8px;
}
